# Used by docker-compose.yml for local testing only.
# Copy to .env and adjust.

PTERO_UID=996
PTERO_GID=994
PTERO_VOLUME_PATH=/var/lib/pterodactyl/volumes/acc157ac-ea60-4ada-87b5-c6bd4e21169f

HOST_SERVER_PORT=38465
HOST_QUERY_PORT=27016
SERVER_PORT=38465
SERVER_NAME=Schedule I Dedicated Server
MAX_PLAYERS=16
SERVER_PASSWORD=party123
